.cart-quantity {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  font-weight: bolder;
  margin: 0 1.625rem;
}
.quantity-container {
  background-color: rgba(94, 89, 89, 0.15);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 10rem;

  & > button {
    color: orange;
    background: none;
    border: none;
    font-size: larger;
    font-weight: bolder;
  }
}

#cart-button {
  background-color: rgb(232, 104, 5);
  border: none;
  border-radius: 0.5rem;
  color: rgba(255, 255, 255, 0.845);
  font-size: large;
  font-weight: bolder;
  padding: 1rem;
  margin-top: 1rem;
  width: 10rem;
}

//desktop
// medium screen 601px - 960px
@media screen and(min-width: 37.5625rem) and (max-width: 60rem) {
  .cart-quantity {
    display: flex;
    align-content: center;
  }
}

// large screen 961px
@media screen and (min-width: 60.0625rem) {
  .cart-quantity {
    display: flex;
    align-content: center;
  }
}

@media screen and (max-width: 37.5rem) {
  .cart-quantity {
    transform: translateX(100%);
  }
}
