.price {
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-left: 10%;
  margin-right: 500%;
}

#percent {
  align-self: center;
  background-color: rgba(255, 166, 0, 0.174);
  border-radius: 0.5rem;
  color: orange;
  margin-left: 1.5rem;
  padding: 0.4rem;
}

#discount-price {
  color: rgba(128, 128, 128, 0.392);
  margin-left: 4rem;
}

@media screen and (max-width: 37.5rem) {
  .price {
    width: 50vw;
    transform: translateX(25%);
  }
}
