.header {
  display: flex;
  justify-content: space-between;
  margin-left: 1.5rem;
  position: sticky;
  padding-top: 0.5rem;
  z-index: 100;
}

a,
a::before,
a::after {
  color: grey;
  display: inline-block;
  padding-right: 2.25rem;
  text-decoration: none;
}

a:hover {
  color: orange;
  font-size: 1.1rem;
  transform: scale(1.03);
}

.right {
  align-items: center;
  display: flex;
}

.profile {
  height: 2rem;
  width: auto;

  &:hover {
    border: solid 1.5px orange;
    border-radius: 1rem;
  }
}

@media screen and (max-width: 37.5rem) {
  .mobile-menu {
    visibility: visible;
  }
  .desktop-menu {
    display: none;
  }
}

@media screen and(min-width: 37.5625rem) and (max-width: 60rem) {
  .mobile-menu {
    visibility: visible;
  }
  .desktop-menu {
    display: none;
  }
}

@media screen and (min-width: 60.0625rem) {
  .mobile-menu {
    display: none;
  }
  .desktop-menu {
    visibility: visible;
    top: 0;
  }
}
