.cart-container {
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.1rem orange;
  margin: 0 0.5rem;
  width: 12rem;
  transform: translateX(-50%) translateY(-15%);
}
.shopping-cart {
  margin-left: 0.75rem;
}

#trash {
  background: none;
  border: none;
  cursor: pointer;
  height: 1rem;
  transform: translateY(200%);
  margin: 0 1rem;
}
