.carousel {
  width: 100vw;
  height: 100vh;
  position: relative;

  img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    width: 100%;
  }

  button {
    background-color: rgba(255, 255, 255, 0.822);
    border: solid 1px white;
    border-radius: 2rem;
    color: black;
    cursor: pointer;
    font-size: small;
    padding: 0.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    &:hover {
      transform: scale(1);
    }

    &#prev {
      left: 1rem;
    }

    &#next {
      right: 1rem;
    }
  }
}

//desktop styles

#main {
  border-radius: 1.5rem;
  max-height: 27.5rem;
  max-width: auto;
}

.thumbnails > button {
  align-items: center;
  background: none;
  border: none;
  border-radius: 1.5rem;

  cursor: pointer;

  & > img {
    border-radius: 1.5rem;
    height: 5.65rem;
    margin-top: 1rem;
    width: 5.65rem;
  }

  &:hover > img {
    border: 2px solid orange;
    border-radius: 1.5rem;
    transform: scale(1.1);
  }
}

//responsive
@media screen and (max-width: 37.5rem) {
  .slide-pic {
    display: none;
    width: 50%;
  }
  .carousel {
    visibility: visible;
  }
}

// medium screen 601px - 960px
@media screen and(min-width: 37.5625rem) and (max-width: 60rem) {
  .slide-pic {
    display: none;
  }
}

// large screen 961px
@media screen and (min-width: 60.0625rem) {
  .carousel {
    display: none;
  }
}
