/* hide checkbox */
#checkbox {
  opacity: 0;
}

/* hide hamburger menu */
.header-hamburger {
  background: white;
  box-shadow: 0.1rem 0rem 0.2rem gray;
  border-radius: 0.2rem;

  left: -100%;
  list-style: none;

  visibility: collapse;
  width: 15rem;
}

/* show hidden when clicked */
#checkbox:checked ~ .header-hamburger {
  visibility: visible;
}

/* style of clicked checkbox */
#checkbox:checked ~ .mobile-btn {
  background-color: orange;
}
#checkbox:checked ~ .mobile-btn > span {
  background-color: orange;
  transform: rotate(45deg);
}
#checkbox:checked ~ .mobile-btn > span::after {
  background-color: orange;
  transform: rotate(90deg);
}

#checkbox:checked ~ .mobile-btn > span::before {
  transform: rotate(0);
}

/* style of top line and click change function*/
.mobile-btn {
  align-items: center;
  background-color: black;
  border-radius: 0.2rem;
  cursor: pointer;
  display: flex;
  height: 0.25rem;
  left: 1rem;
  position: fixed;
  top: 1rem;
  width: 1rem;
}

/* second line in hamburger menu */
.mobile-btn > span,
.mobile-btn > span::before,
.mobile-btn > span::after {
  background: black;
  border-radius: 0.2rem;

  height: 0.25rem;
  top: 0.3rem;
  position: absolute;
  width: 100%;
}

/* bottom line of hamburger shows as default  right diag of x */
.mobile-btn > span::after {
  content: "";
  top: 0.32rem;
}
